<!-- HEADER -->
<section id="hero" class="dark-bg">
    <div class="wrap">
        <div class="col-12-full clearfix">
            <header class="clearfix">
                <div id="logo" class="col-3 left">
                    <a href=""><img src="img/logo.png" alt=""></a>
                </div>
                {% include menu.html %}
            </header>

            <div id="slogan" class="col-9 left">
                <h1 class="caption"><p>EKIPA Football Agency</p>
                <p>Aspiring to hasten the victory</p>
                <p>• strategy consulting&nbsp;</p>
                <p>• transfers</p>
                <p>• PR &amp;&nbsp;marketing&nbsp;</p>
                <p>• career management</p></h1>
            </div>
        </div>
    </div>
</section>