<!-- INFO -->
<section id="info">
    <div class="wrap">
        <div class="col-12-full clearfix">
            <div class="col-6 left">
                <h3>Our partners</h3>
                <a href="http://soccerdreamz.de/">
                    <img src="img/soccerdreamz.png" alt="">
                </a>
            </div>
            <div class="col-6 right">
                <h3>Contacts</h3>
                <div class="contact-links">
                    <p>
                        <!-- <i class="fa fa-envelope-square"></i>  -->
                        <a href="mailto:info@ekipa-agency.com">info@ekipa-agency.com</a>
                    </p>
                    <p>
                        <!-- <i class="fa fa-phone-square"></i>  -->
                        +7 (915) 223-24-24
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>