/* ====== 320px ====== */
/* SETTINGS */
h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

/* GRID */
.wrap{
    width: 320px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6{
    width: 140px;
}

.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    width: 300px;
}


.col-1-full,
.col-2-full,
.col-3-full,
.col-4-full,
.col-5-full,
.col-6-full{
    width: 160px;
}

.col-7-full,
.col-8-full,
.col-9-full,
.col-10-full,
.col-11-full,
.col-12-full{
    width: 320px;
}


.col-offset-0,
.col-offset-1,
.col-offset-2,
.col-offset-3,
.col-offset-4,
.col-offset-5{
    margin-left: 10px;
}


.col-offset-6,
.col-offset-7,
.col-offset-8,
.col-offset-9,
.col-offset-10,
.col-offset-11{
    margin-left: 170px;
}




// medium screen sizes
.col-m-1,
.col-m-2,
.col-m-3,
.col-m-4,
.col-m-5,
.col-m-6{
    width: 140px;
}

.col-m-7,
.col-m-8,
.col-m-9,
.col-m-10,
.col-m-11,
.col-m-12{
    width: 300px;
}


.col-m-1-full,
.col-m-2-full,
.col-m-3-full,
.col-m-4-full,
.col-m-5-full,
.col-m-6-full{
    width: 160px;
}

.col-m-7-full,
.col-m-8-full,
.col-m-9-full,
.col-m-10-full,
.col-m-11-full,
.col-m-12-full{
    width: 320px;
}


.col-m-offset-0,
.col-m-offset-1,
.col-m-offset-2,
.col-m-offset-3,
.col-m-offset-4,
.col-m-offset-5{
    margin-left: 10px;
}

.col-m-offset-6,
.col-m-offset-7,
.col-m-offset-8,
.col-m-offset-9,
.col-m-offset-10,
.col-m-offset-11{
    margin-left: 170px;
}




// small screen sizes
.col-s-1{
    width: 60px;
}

.col-s-2{
    width: 140px;
}

.col-s-3{
    width: 220px;
}

.col-s-4{
    width: 300px;
}


.col-s-1-full{
    width: 80px;
}

.col-s-2-full{
    width: 160px;
}

.col-s-3-full{
    width: 240px;
}

.col-s-4-full{
    width: 320px;
}


.col-s-offset-0{
    margin-left: 10px !important;
}

.col-s-offset-1{
    margin-left: 90px;
}

.col-s-offset-2{
    margin-left: 170px;
}

.col-s-offset-3{
    margin-left: 250px;
}



/* ELEMENTS */




/* === MAIN PAGE === */
/* HEADER */
#hero,
#header{
    header{
        #logo{
            text-align: center;
            margin-bottom: 2*$margin;
        }

        #menu{
            text-align: center;
            ul{
                li{
                    a{
                        padding-bottom: $margin;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    #slogan{
        margin-top:     2*$margin;
        margin-bottom:  5*$margin;
        h1{
            font-size: 24px;
        }
    }
}

#newsfeed{
    height: 126px;
    #news-widget{
        width: 320px;
        .news-widget-heading{
            width: 100%;
            height: 84px;
            text-align: center;
        }
        #carousel{
            width: 320px;
            height: auto;
            .carousel-inner{
                width: 100%;
                margin-bottom: 32px;
                float: none;
            }
            .carousel-controls{
                float: none;
                width: 100%;
                height: 44px;
                background: $light-blue;
                .carousel-control{
                    position: absolute;
                    width: 20px;
                    height: 24px;
                    font-size: 24px;
                    color: $blue;
                    text-shadow: none;
                    opacity: 1;
                    &.control-left{
                        top: 10px;
                        left: 20px;
                        text-align: left;
                    }
                    &.control-right{
                        top: 10px;
                        left: auto;
                        bottom: auto;
                        right: 20px;
                        text-align: right;
                    }
                }
            }
        }
    }
}



/* === INNER PAGE === */
/* HEADER */
#header{
    header{
        #menu{
            ul{
                li{
                    a{
                        padding-bottom: 0;
                        font-size: 18px;
                        color: $black;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

/* CONTENT */
#content{
    .content-block{
        .content-block-text{
            padding: 4*$margin 4*$margin;
            .content-block-text-heading{
                font-size: 18px;
                text-align: center;
            }
            .content-block-text-date{
                text-align: center;
            }
        }
    }
    .heading-block{
        .heading-block-title{
            font-size: 32px;
        }
    }
}


