{% extends 'main_base.html' %}
{% load cms_tags staticfiles thumbnail %}



{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block bodyclass %}inner-page{% endblock bodyclass %}

{% block body %}
<!-- CONTENT -->
<section id="content">
    <div class="wrap">
        <div class="col-12-full clearfix">
            <div class="content-block col-12 clearfix">
                <div class="content-block-image text-center">

                    <img src="{{ news.image.url }}" alt="">
                </div>
                <div class="content-block-text">
                    <h1 class="content-block-text-heading">{{ news.title }}</h1>
                    <div class="content-block-text-date">{{ news.publication_date }}</div>
                    <div class="content-block-text-post text">
                        {{ news.text|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}