{% extends 'main_base.html' %}
{% load staticfiles thumbnail%}
{% block body %}
<body class="inner-page">

<!-- HEADER -->
<section id="header">
    <div class="wrap">
        <div class="col-12-full clearfix">
            <header class="clearfix">
                <div id="logo" class="col-3 left">
                    <a href=""><img src="{% static 'img/logo-black.png' %}" alt=""></a>
                </div>
                <div id="menu" class="col-9 right">
                    <ul class="clearfix">
                        <li><a href="{% url 'news:news-list' %}">News</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </header>
        </div>
    </div>
</section>


<!-- CONTENT -->
<section id="content">
    <div class="wrap">
        <div class="col-12-full clearfix">

            <div class="heading-block col-12 clearfix text-center">
                <h1 class="heading-block-title">
                    News
                </h1>
            </div>

            <div id="news-list" class="clearfix">
                {% for news in object_list %}
                    {% thumbnail news.image '200x200' crop as image %}
                    <div class="news-item col-4">
                        <div class="news-item-image">
                            <a href="">
                                <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="">
                            </a>
                        </div>
                        <div class="news-item-title">
                            <a href="{{ news.get_absolute_url }}">
                                <h3>{{ news.title }}</h3>
                            </a>
                        </div>
                        <div class="news-item-date">{{ news.publication_date }}</div>
                    </div>
                {% endfor %}


                <div class="news-item col-4">
                    <div class="news-item-image">
                        <a href="">
                            <img src="{% static 'assets/stadium.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="news-item-title">
                        <a href="">
                            <h3>Russia seeks economic revenge</h3>
                        </a>
                    </div>
                    <div class="news-item-date">17 Jan 2015</div>
                </div>

                <div class="news-item col-4">
                    <div class="news-item-image">
                        <a href="">
                            <img src="{% static 'assets/stadium.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="news-item-title">
                        <a href="">
                            <h3>Russia seeks economic revenge against Turkey over downed jet</h3>
                        </a>
                    </div>
                    <div class="news-item-date">17 Jan 2015</div>
                </div>

                <div class="news-item col-4">
                    <div class="news-item-image">
                        <a href="">
                            <img src="{% static 'assets/stadium.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="news-item-title">
                        <a href="">
                            <h3>Russia seeks economic revenge against Turkey over downed jet</h3>
                        </a>
                    </div>
                    <div class="news-item-date">17 Jan 2015</div>
                </div>

                <div class="news-item col-4">
                    <div class="news-item-image">
                        <a href="">
                            <img src="{% static 'assets/stadium.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="news-item-title">
                        <a href="">
                            <h3>Russia seeks economic revenge against Turkey over downed jet</h3>
                        </a>
                    </div>
                    <div class="news-item-date">17 Jan 2015</div>
                </div>

            </div>

        </div>
    </div>
</section>


<footer>
    <div class="wrap">
        <div class="col-12-full clearfix">
            <div class="col-12 text-center">
                    <span class="copyright">
                        &copy; 2014-2015 Ekipa
                    </span>
            </div>
        </div>
    </div>
</footer>

</body>
{% endblock body%}