{% extends 'main_base.html' %}
{% load cms_tags staticfiles thumbnail %}



{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block bodyclass %}inner-page{% endblock bodyclass %}

{% block body %}
<!-- CONTENT -->
<section id="content">
    <div class="wrap">
        <div class="col-12-full clearfix">

            <div class="heading-block col-12 clearfix text-center">
                <h1 class="heading-block-title">
                    {% page_attribute "page_title" %}
                </h1>
            </div>

            <div id="news-list" class="clearfix">
                {% for news in object_list %}
                    {% thumbnail news.image '200x200' crop as image %}
                    <div class="news-item col-4 col-m-6 col-s-4">
                        <div class="news-item-image">
                            <a href="">
                                <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="">
                            </a>
                        </div>
                        <div class="news-item-title">
                            <a href="{{ news.get_absolute_url }}">
                                <h3>{{ news.title }}</h3>
                            </a>
                        </div>
                        <div class="news-item-date">{{ news.publication_date }}</div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>
</section>
{% endblock body%}