<!DOCTYPE html>
<html lang="en">
<head>
    <title>EKIПA — Football Agency</title>

    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">  
    <meta name="MobileOptimized" content="320"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    {% load cms_tags sekizai_tags staticfiles thumbnail %}

    <link rel="image_src" href="{% static 'img/simple_logo.jpg' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
    <meta name="title" content="EKIПA — Football Agency">
    <meta name="description" content="Ekipa — football agency">

    <meta property="og:title" content="EKIПA — Football Agency">
    <meta property="og:description" content="Ekipa — football agency">
    <meta property="og:site_name" content="EKIПA">
    <meta property="og:locale" content="en"> 
    <meta property="og:image" content="img/og-logo.png">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--[if IE 7]>
        <link rel="stylesheet" href="css/font-awesome-4.2.0/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- STYLES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="css/style-IE.css" />
    <![endif]-->

    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



</head>
<body class="inner-page">

    <!-- HEADER -->
    <section id="header">
        <div class="wrap">
            <div class="col-12-full clearfix">
                <header class="clearfix">
                    <div id="logo" class="col-3 left">
                        <a href=""><img src="img/logo-black.png" alt=""></a>
                    </div>
                    <div id="menu" class="col-9 right">
                        <ul class="clearfix">
                            <li><a href="">News</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </section>


    <!-- CONTENT -->
    <section id="content">
        <div class="wrap">
            <div class="col-12-full clearfix">
                <div class="content-block col-12 clearfix">
                    <div class="content-block-image">
                        <img src="assets/stadium.jpg" alt="">
                    </div>
                    <div class="content-block-text">
                        <h1 class="content-block-text-heading">{{ news.title }}</h1>
                        <div class="content-block-text-date">{{ news.publication_date }}</div>
                        <div class="content-block-text-post text">
                            {{ news.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="wrap">
            <div class="col-12-full clearfix">
                <div class="col-12 text-center">
                    <span class="copyright">
                        © 2014-2015 Ekipa
                    </span>
                </div>
            </div>
        </div>
    </footer>


</body></html>