{% load cms_tags menu_tags sekizai_tags staticfiles thumbnail %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}EKIПA — Football Agency{% endblock title %}</title>

    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>


    <link rel="image_src" href="{% static 'img/logo.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <meta name="title" content="{% page_attribute "page_title" %}"/>
    <meta name="description" content="{% page_attribute "meta_description" %}"/>

    <meta property="og:title" content="{% page_attribute "page_title" %}"/>
    <meta property="og:description" content="Ekipa — football agency"/>
    <meta property="og:site_name" content="EKIПA">
    <meta property="og:locale" content="en">
    <meta property="og:image" content="{% static 'img/logo.png' %}">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--[if IE 7]>
        <link rel="stylesheet" href="{% static 'font-awesome-4.5.0/css/font-awesome-ie7.min.css' %}">
    <![endif]-->

    <!-- STYLES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-IE.css' %}" />
    <![endif]-->

    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% render_block "css" %}
    {% render_block "js" %}

</head>
{% cms_toolbar %}
<body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block header %}
    <section id="header">
        <div class="wrap">
            <div class="col-12-full clearfix">
                <header class="clearfix">
                    <div id="logo" class="col-3 col-s-4 left">
                        <a href="/"><img src="{% static 'img/logo-black.png' %}" alt=""></a>
                    </div>
                    <div id="menu" class="col-9 col-s-4 right">
                        <ul class="clearfix">
                            {% show_menu 0 0 100 100 %}
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </section>
    {% endblock header %}

    {% block body %}{% endblock body %}

    {% block footer %}
    <footer>
        <div class="wrap">
            <div class="col-12-full clearfix">
                <div class="col-12 text-center">
                    <span class="copyright">
                        {% static_placeholder "copyright" %}
                    </span>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>
